html, body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  display: flex;
  justify-content: center;
}

header {
  height: 4rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.logo {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.container {
  width: 960px;
}

.header-tortoise {
  display: inline-block;
  color: white;
  flex-grow: 1;
}

nav p {
  display: inline-block;
  color: white;
  padding: 1rem 2rem;
}

.dont {
  display: flex;
  align-content: center;
  position: relative;
  left: 22rem;
  top: 10rem;
}

.dont p {
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.container.services {
  max-width: 960px;
  margin: 0 auto;
}

.flex-services {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 3rem;*/
}

.exams {
  display: flex;
  width: 30%;
  flex-direction: column;
  height: 8rem;
}

.exam-pic {
  width: 3.5rem;
}

.fittings {
  display: flex;
  width: 30%;
  flex-direction: column;
  height: 8rem;
}
.fittings-pic {
  width: 5rem;
}

.truck {
  display: flex;
  width: 30%;
  flex-direction: column;
  height: 8rem;
}

.truck-pic {
  width: 5rem;
}

.flex-info {
  display: flex;
  justify-content: space-between;
  width: 35%;
  flex-direction: column;
  margin-top: 3rem;
  margin-right: 5%;
}

.green-headers {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  max-width: 10rem;
  padding: .5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  border: 1px solid cadetblue.
}

flex-info
